.tiptap {
  min-height: var(--tiptap-editor-height, 10rem);
  padding: 0.5rem 0.75rem;
}

.tiptap * {
  word-break: normal;
  overflow-wrap: anywhere;
}

.tiptap--rendered {
  min-height: inherit;
  padding: 0;
}

.tiptap img {
  cursor: pointer;
  display: block;
  height: auto;
  max-width: 100%;
  border-radius: 0.25rem;
  margin: 0.5rem 0 2rem;
  padding: 0.5rem;
}

.tiptap img:not(.ProseMirror-widget) {
  background-size: calc(100% - 1rem);
  background-position: 0.5rem 0.5rem;
  background-repeat: no-repeat;
  object-position: -99999px 99999px;
  transition:
    opacity 1s ease 0.1s,
    color 1s ease 0.1s;
}

.tiptap img:not(.ProseMirror-widget)[data-loading="true"] {
  opacity: 0.3;
  color: color-mix(in srgb, currentColor 0%, transparent);
}

.tiptap img:not(.ProseMirror-widget):not([data-loading="true"]) {
  object-position: center center;
  opacity: 1;
  color: revert;
}

.tiptap--rendered img {
  cursor: initial;
  padding: 0;
  border-radius: 0;
}

.tiptap:focus,
.tiptap:focus-visible {
  outline-width: 2px !important;
  outline-offset: -2px !important;
}

@media (hover: hover) and (pointer: fine) {
  .tiptap:not(.tiptap--rendered) img:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

.tiptap:not(.tiptap--rendered) [href] {
  cursor: text;
}

.tiptap pre code {
  display: block;
  padding: 0.75rem;
}

.tiptap code {
  font-size: 85%;
}

.tiptap :not(pre) code {
  padding: 0.2em 0.4em;
}

.tiptap pre,
.tiptap code {
  background-color: var(--highlight-a11y-color-background);
  border-radius: 0.25rem;
}

.tiptap blockquote::before {
  --icon-size: 2rem;
  color: var(--artwork-minor-blue-france);
  content: "";
  margin-bottom: 0.5rem;
  background-color: currentColor;
  display: inline-block;
  height: var(--icon-size);
  mask-image: url("@gouvfr/dsfr/dist/icons/editor/fr--quote-line.svg");
  mask-size: 100% 100%;
  width: var(--icon-size);
}

/* Update DSFR ol ::marker styles:
  Nested <ol>
  1.
    1.1
      1.1.1
    1.2
  2.

  <ol> nested in <ul>
  -
    1.
    2.
      1.
      2.
  -
*/

/* stylelint-disable-next-line no-duplicate-selectors */
.tiptap {
  ol,
  ul {
    counter-reset: section;
  }

  ol li {
    --ol-content: counters(section, ".") ". ";

    counter-increment: section;
  }

  ul > li > ol li {
    --ol-content: counter(section) ". ";

    counter-increment: section;
  }
}

.tiptap blockquote p {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2rem;
}

.tiptap li > p {
  margin-bottom: 0.25em;
}

.tiptap [data-resize-container] {
  display: block !important;
  max-width: max-content;
}

.tiptap-selection,
.ProseMirror-selectednode {
  outline: var(--dsfr-outline) solid 0.125rem;
  max-width: max-content;

  [data-resize-handle] {
    position: absolute;
    background: var(--highlight-a11y-color-background);
    border: 0.15rem solid var(--dsfr-outline);
    z-index: 10;

    &:focus-visible,
    &:hover {
      background: var(--dsfr-outline);
    }

    /* Corner handles */
    &[data-resize-handle="top-left"],
    &[data-resize-handle="top-right"],
    &[data-resize-handle="bottom-left"],
    &[data-resize-handle="bottom-right"] {
      width: 0.85rem;
      height: 0.85rem;
    }

    &[data-resize-handle="top-left"] {
      top: -8px !important;
      left: -8px !important;
      cursor: nwse-resize;
    }

    &[data-resize-handle="top-right"] {
      top: -8px !important;
      right: -8px !important;
      cursor: nesw-resize;
    }

    &[data-resize-handle="bottom-left"] {
      bottom: -8px !important;
      left: -8px !important;
      cursor: nesw-resize;
    }

    &[data-resize-handle="bottom-right"] {
      bottom: -8px !important;
      right: -8px !important;
      cursor: nwse-resize;
    }

    /* Edge handles */
    &[data-resize-handle="top"],
    &[data-resize-handle="bottom"] {
      height: 6px;
      left: 8px;
      right: 8px;
    }

    &[data-resize-handle="top"] {
      top: -3px;
      cursor: ns-resize;
    }

    &[data-resize-handle="bottom"] {
      bottom: -3px;
      cursor: ns-resize;
    }

    &[data-resize-handle="left"],
    &[data-resize-handle="right"] {
      width: 6px;
      top: 8px;
      bottom: 8px;
    }

    &[data-resize-handle="left"] {
      left: -3px;
      cursor: ew-resize;
    }

    &[data-resize-handle="right"] {
      right: -3px;
      cursor: ew-resize;
    }
  }
}
