:root {
  --dsfr-outline: #0a76f6;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* FIXME: Collapses have awful transition performances. Re-enable when performance problems have been fixed. */
.fr-collapse,
.fr-collapse::before {
  transition: none !important;
  animation: none !important;
}

/* Prevent textareas inside accordion to be horizontally resized */
.fr-accordion textarea.fr-input {
  resize: vertical;
}

/* HACK: Prevents a weird displacement bug where the tab buttons would disapear behind the panels. */

/* Disable tab transitions */
.fr-tabs,
.fr-tabs__panel {
  transition: none !important;
}

/* This disable the original border hack */
.fr-tabs::before {
  content: none !important;
}
.fr-tabs {
  box-shadow: none !important;
}

/* This fixes the weird panel positionning and add a "normal" border. */
.fr-tabs__panel {
  transform: translateY(2.4375rem);
  border: 1px solid var(--border-default-grey);
}

pre {
  white-space: pre-wrap;
}

/* Utility class to remove external icon
from DSFR links with `target="_blank"` */
[target="_blank"].no-external-icon::after {
  content: none !important;
}

/* DSFR-style primary button with "danger" variant */
.danger-button {
  background-color: var(--background-action-high-error) !important;
  color: var(--grey-950-125) !important;
}

.danger-button:hover {
  background-color: var(--background-action-high-error-hover) !important;
}

.danger-button:focus {
  background-color: var(--background-action-high-error-active) !important;
}

/* DSFR-style outline button with "danger" variant */
.danger-button-outline {
  color: var(--background-action-high-error) !important;
}

/* Override DSFR inputs, textareas and selects borders */
.fr-input,
.fr-textarea,
.fr-select {
  border: 1px solid var(--border-plain-grey) !important;
  border-bottom: 0 !important;
}

.fr-input[type="search"] {
  border-color: var(--border-action-high-blue-france) !important;
}
