:root {
  --dsfr-outline: #0a76f6;
}

/* FIXME: Collapses have awful transition performances. Re-enable when performance problems have been fixed. */
.fr-collapse,
.fr-collapse::before {
  transition: none !important;
  animation: none !important;
}

/* Prevent textareas inside accordion to be horizontally resized */
.fr-accordion textarea.fr-input {
  resize: vertical;
}

/* HACK: Prevents a weird displacement bug where the tab buttons would disapear behind the panels. */

/* Disable tab transitions */
.fr-tabs,
.fr-tabs__panel {
  transition: none !important;
}

/* This disable the original border hack */
.fr-tabs::before {
  content: none !important;
}
.fr-tabs {
  box-shadow: none !important;
}

/* This fixes the weird panel positionning and add a "normal" border. */
.fr-tabs__panel {
  transform: translateY(2.4375rem);
  border: 1px solid var(--border-default-grey);
}

pre {
  white-space: pre-wrap;
}

/* Utility class to remove external icon
from DSFR links with `target="_blank"` */
[target="_blank"].no-external-icon::after {
  content: none !important;
}

/* DSFR-style primary button with "danger" variant */
.danger-button {
  background-color: var(--background-action-high-error) !important;
  color: var(--grey-950-125) !important;
}

.danger-button:hover {
  background-color: var(--background-action-high-error-hover) !important;
}

.danger-button:focus {
  background-color: var(--background-action-high-error-active) !important;
}

/* DSFR-style outline button with "danger" variant */
.danger-button-outline {
  color: var(--background-action-high-error) !important;
}

.tiptap {
  background-color: var(--background-default-grey);
  padding: 1rem;
  border: 1px solid var(--border-default-grey);
  min-height: 10rem;
  overflow-y: auto;
}

.tiptap img {
  cursor: pointer;
  display: block;
  height: auto;
  max-width: 100%;
  border-radius: 0.25rem;
  margin: 0.5rem 0 2rem;
  padding: 0.5rem;
}

.tiptap:focus,
.tiptap:focus-visible {
  outline-width: 4px !important;
  outline-offset: 0 !important;
}

@media (hover: hover) and (pointer: fine) {
  .tiptap img:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

.tiptap p {
  vertical-align: middle;
}

/* Testing some different UI for Tiptap editor: */
/* .tiptap[contenteditable]:not([contenteditable="false"]),
.tiptap[tabindex] {
  color: rgba(10, 118, 246, 0);
  transition: outline-color 0.3s ease-in;
}

.tiptap[contenteditable]:not([contenteditable="false"]):focus,
.tiptap[tabindex]:focus {
  outline-color: rgba(10, 118, 246, 0.2);
  outline-offset: 2px;
  outline-width: 500px;
} */

.tiptap pre {
  padding: 0.75rem;
}
.tiptap code {
  font-size: 85%;
}
.tiptap :not(pre) code {
  padding: 0.2em 0.4em;
}
.tiptap pre,
.tiptap code {
  background-color: var(--background-contrast-overlap-grey);
  border-radius: 0.25rem;
}
.tiptap blockquote:before {
  --icon-size: 2rem;
  color: var(--artwork-minor-blue-france);
  content: "";
  display: block;
  margin-bottom: 0.5rem;
  background-color: currentColor;
  display: inline-block;
  flex: 0 0 auto;
  height: var(--icon-size);
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZD0iTTE0IDNhOCA4IDAgMSAxIDAgMTZ2My41Yy01LTItMTItNS0xMi0xMS41YTggOCAwIDAgMSA4LThoNFptMCAyaC00YTYgNiAwIDAgMC02IDZjMCAzLjYxIDIuNDYyIDUuOTY2IDggOC40OFYxN2gyYTYgNiAwIDEgMCAwLTEyWm0tMiAyLjUtMi41MDYgMy43NUwxMiAxNUg5LjI5NUw2Ljc1IDExLjI1IDkuMjk1IDcuNUgxMlptNC41IDAtMi41MDYgMy43NUwxNi41IDE1aC0yLjcwNWwtMi41NDUtMy43NSAyLjU0NS0zLjc1SDE2LjVaIi8+PC9zdmc+);
  mask-size: 100% 100%;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  width: var(--icon-size);
}

.tiptap blockquote p {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2rem;
}

.tiptap li > p {
  margin-bottom: 0.25em;
}

/* FIXME: tiptap tasklist are not accessible yet. */
/* https://github.com/ueberdosis/tiptap/issues/4774 */
.tiptap ul[data-type="taskList"] {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

.tiptap ul[data-type="taskList"] li {
  align-items: flex-start;
  display: flex;
}

.tiptap ul[data-type="taskList"] li > label {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  user-select: none;
}

.tiptap ul[data-type="taskList"] li > div {
  flex: 1 1 auto;
}

.tiptap ul[data-type="taskList"] li > div p {
  margin-bottom: 0.25em;
}

.tiptap ul[data-type="taskList"] input[type="checkbox"] {
  cursor: pointer;
}

.tiptap ul[data-type="taskList"] ul[data-type="taskList"] {
  margin: 0;
}

.ProseMirror-selectednode {
  outline-style: dotted;
  outline-width: 2px;
  outline-color: var(--dsfr-outline);
}

.ProseMirror-widget {
  opacity: 0.5;
}

/* File upload styling */
/* input[type="file" i]::-webkit-file-upload-button {
  background-color: transparent;
  border: none;
  box-shadow: inset 0 0 0 1px #ddd;
  box-shadow: inset 0 0 0 1px var(--border-default-grey);
  color: #000091;
  color: var(--text-action-high-blue-france);
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  width: -moz-fit-content;
  width: fit-content;
}

input[type="file"]::-ms-browse {
  background-color: transparent;
  border: none;
  box-shadow: inset 0 0 0 1px #ddd;
  box-shadow: inset 0 0 0 1px var(--border-default-grey);
  color: #000091;
  color: var(--text-action-high-blue-france);
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  width: -moz-fit-content;
  width: fit-content;
}

input[type="file"]::file-selector-button {
  background-color: transparent;
  border: none;
  box-shadow: inset 0 0 0 1px #ddd;
  box-shadow: inset 0 0 0 1px var(--border-default-grey);
  color: #000091;
  color: var(--text-action-high-blue-france);
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  width: -moz-fit-content;
  width: fit-content;
}
@media (hover: hover) and (pointer: fine) {
  hover
  input[type="file" i]::-webkit-file-upload-button:hover {
    background-color: #f6f6f6;
    background-color: var(--background-default-grey-hover);
  }
  input[type="file"]::-ms-browse:hover {
    background-color: #f6f6f6;
    background-color: var(--background-default-grey-hover);
  }
  input[type="file"]::file-selector-button:hover {
    background-color: #f6f6f6;
    background-color: var(--background-default-grey-hover);
  }

  active
  input[type="file" i]::-webkit-file-upload-button:active {
    background-color: #ededed;
    background-color: var(--background-default-grey-active);
  }
  input[type="file"]::-ms-browse:active {
    background-color: #ededed;
    background-color: var(--background-default-grey-active);
  }
  input[type="file"]::file-selector-button:active {
    background-color: #ededed;
    background-color: var(--background-default-grey-active);
  }
} */

/* input[type="file"]::-ms-browse, */
/* input[type="file"]::file-selector-button, */
