:root {
  --dsfr-outline: #0a76f6;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* FIXME: Collapses have awful transition performances. Re-enable when performance problems have been fixed. */
.fr-collapse,
.fr-collapse::before {
  transition: none !important;
  animation: none !important;
}

/* Prevent textareas inside accordion to be horizontally resized */
.fr-accordion textarea.fr-input {
  resize: vertical;
}

/* HACK: Prevents a weird displacement bug where the tab buttons would disapear behind the panels. */

/* Disable tab transitions */
.fr-tabs,
.fr-tabs__panel {
  transition: none !important;
}

/* This disable the original border hack */
.fr-tabs::before {
  content: none !important;
}
.fr-tabs {
  box-shadow: none !important;
}

/* This fixes the weird panel positionning and add a "normal" border. */
.fr-tabs__panel {
  transform: translateY(2.4375rem);
  border: 1px solid var(--border-default-grey);
}

pre {
  white-space: pre-wrap;
}

/* Utility class to remove external icon
from DSFR links with `target="_blank"` */
[target="_blank"].no-external-icon::after {
  content: none !important;
}

/* DSFR-style primary button with "danger" variant */
.danger-button {
  background-color: var(--background-action-high-error) !important;
  color: var(--grey-950-125) !important;
}

.danger-button:hover {
  background-color: var(--background-action-high-error-hover) !important;
}

.danger-button:focus {
  background-color: var(--background-action-high-error-active) !important;
}

/* DSFR-style outline button with "danger" variant */
.danger-button-outline {
  color: var(--background-action-high-error) !important;
}

/* File upload styling */
/* input[type="file" i]::-webkit-file-upload-button {
  background-color: transparent;
  border: none;
  box-shadow: inset 0 0 0 1px #ddd;
  box-shadow: inset 0 0 0 1px var(--border-default-grey);
  color: #000091;
  color: var(--text-action-high-blue-france);
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  width: -moz-fit-content;
  width: fit-content;
}

input[type="file"]::-ms-browse {
  background-color: transparent;
  border: none;
  box-shadow: inset 0 0 0 1px #ddd;
  box-shadow: inset 0 0 0 1px var(--border-default-grey);
  color: #000091;
  color: var(--text-action-high-blue-france);
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  width: -moz-fit-content;
  width: fit-content;
}

input[type="file"]::file-selector-button {
  background-color: transparent;
  border: none;
  box-shadow: inset 0 0 0 1px #ddd;
  box-shadow: inset 0 0 0 1px var(--border-default-grey);
  color: #000091;
  color: var(--text-action-high-blue-france);
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  width: -moz-fit-content;
  width: fit-content;
}
@media (hover: hover) and (pointer: fine) {
  hover
  input[type="file" i]::-webkit-file-upload-button:hover {
    background-color: #f6f6f6;
    background-color: var(--background-default-grey-hover);
  }
  input[type="file"]::-ms-browse:hover {
    background-color: #f6f6f6;
    background-color: var(--background-default-grey-hover);
  }
  input[type="file"]::file-selector-button:hover {
    background-color: #f6f6f6;
    background-color: var(--background-default-grey-hover);
  }

  active
  input[type="file" i]::-webkit-file-upload-button:active {
    background-color: #ededed;
    background-color: var(--background-default-grey-active);
  }
  input[type="file"]::-ms-browse:active {
    background-color: #ededed;
    background-color: var(--background-default-grey-active);
  }
  input[type="file"]::file-selector-button:active {
    background-color: #ededed;
    background-color: var(--background-default-grey-active);
  }
} */

/* input[type="file"]::-ms-browse, */
/* input[type="file"]::file-selector-button, */
