{
  "root": true,
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "unused-imports", "simple-import-sort"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/vue3-recommended",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "dsfr": true
  },
  "rules": {
    "vue/multi-word-component-names": "off",
    "no-irregular-whitespace": "off",
    "vue/no-irregular-whitespace": [
      "error",
      {
        "skipStrings": true,
        "skipComments": true,
        "skipRegExps": true,
        "skipTemplates": true,
        "skipHTMLAttributeValues": true,
        "skipHTMLTextContents": true
      }
    ],
    "vue/no-v-html": "off",
    "no-duplicate-imports": "error",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": "error"
  }
}
