name: Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  checks: write
  contents: write

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 18

      - name: Install dependencies
        run: yarn install

      - name: Lint front-end
        run: yarn lint
        working-directory: confiture-web-app/

      - name: Lint back-end
        run: yarn eslint "src/**/*.ts"
        working-directory: confiture-rest-api/
